@import "~@sb1/ffe-core/less/ffe";
@import "~@sb1/ffe-context-message/less/ffe-context-message";
@import "~@sb1/ffe-webfonts/fonts.less";
@import "../../index.less";

.rate-app {
  box-sizing: border-box;
  padding: 20px 40px;
  text-align: center;
  max-width: 560px;
  font-family: MuseoSans-500, arial, sans-serif;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: @ffe-blue-cobalt;
    z-index: 99;
    opacity: 0;
    pointer-events: none;
  }

  &.flash {
    &::before {
      animation: flash 2000ms 1;
    }
  }

  @media @phone {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .ffe-h1 {
    color: @ffe-white;

    @media @phone {
      margin: 0;
    }
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
